:root {
  --color-main: #2e2520;
  --color-bg: #ffffff;
  --color-bg-add: #fef3e4;
  --color-bg-mobile: rgba(254, 243, 228, 0.9);
  --color-brand: #ab816c;
  --color-brand-transparent: rgba(171, 129, 108, 0.5);
  --color-dark-brand: #674d40;
  --color-faded-brand: #876655;
  --font-main: 'Montserrat', sans-serif;
  --font-brand: 'Caveat Brush', cursive;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--color-main);
  background-color: var(--color-bg);
  font-family: var(--font-main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  outline: tomato 1px solid;
}

@media screen and (min-width: 678px) {
  .container {
    width: 768px;
    padding-left: 67px;
    padding-right: 67px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 228px;
    padding-right: 228px;
  }
}

.title {
  font-family: var(--font-brand);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.26667;
  text-align: center;
}

.sub-title {
  font-family: var(--font-brand);
  font-size: 24px;
  font-weight: 400;
  line-height: 2.70833;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 20px;
}

.list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 10px;
}

.btn {
  width: 145px;
  height: 40px;
  border: none;
  background-color: var(--color-brand);
  border-radius: 25px;
  color: var(--color-bg);
  font-family: var(--font-brand);
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.btn:hover, .btn:focus {
  color: var(--color-brand);
  background-color: var(--color-bg);
  box-shadow: 7px 7px 32px var(--color-brand-transparent);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 33px;
}

.header--bg {
  width: 320px;
  height: 460px;
  background-image: url("../../images/bg/top-bg-mobile.svg");
  background-color: cyan;
  position: absolute;
  z-index: -20;
}

@media screen and (min-width: 768px) {
  .header--bg {
    width: 768px;
    height: 622px;
    background-image: url("../../images/bg/top-bg-tablet.svg");
  }
}

@media screen and (min-width: 1280px) {
  .header--bg {
    width: 1280px;
    height: 1035px;
    background-image: url("../../images/bg/top-bg-desktop.svg");
  }
}

.mobile-menu__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 0;
}

.header__logo {
  width: 96px;
  height: 43px;
  margin-top: 13px;
}

.header--bg::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 120px;
  height: 114px;
  background-image: url("../../images/bg/donut-top-mobile.png");
  background-color: brown;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 280px), screen and (min-resolution: 192dpi) and (min-width: 280px), screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .header--bg::after {
    background-image: url("../../images/bg/donut-top-mobile@2x.png");
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px forestgreen solid;
}

.hero--title-alignment {
  display: block;
  margin-bottom: 5px;
}

.hero__text {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: var(--color-main);
  margin-bottom: 25px;
}

.hero--btn-gap {
  margin-bottom: 45px;
}

.sm-links {
  display: flex;
  width: 61px;
  justify-content: space-between;
}

.sm-link__icon {
  fill: currentColor;
}

.sm-links__item {
  color: var(--color-main);
  transition: color 250ms linear;
}

.sm-links__item:hover, .sm-links__item:focus {
  color: var(--color-brand);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-mobile);
  z-index: 10;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 500ms linear, visibility 500ms linear;
  -o-transition: opacity 500ms linear, visibility 500ms linear;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu__close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 0;
}

.mobile-menu__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.20833;
  color: var(--color-main);
}

.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link:active {
  color: var(--color-faded-brand);
}

.mobile-menu--gap {
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */