#more {
  display: none;
}

.about {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    justify-content: space-between;
    margin-left: -50px;
  }

  .about--alignment {
    flex-basis: 49%;
  }

  .about__img {
    margin-top: 55px;
  }

  .about__text {
    margin-top: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    margin-top: 105px;
    margin-left: -100px;
  }

  .about--alignment {
    flex-basis: 47%;
  }
}
