.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 33px;
}

.header--bg {
  width: 320px;
  height: 460px;
  background-image: url('../images/bg/top-bg-mobile.svg');

  position: absolute;
  z-index: -20;

  @media screen and (min-width: 480px) {
    width: 768px;
    height: 622px;
    background-image: url('../images/bg/top-bg-tablet.svg');
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 1035px;
    background-image: url('../images/bg/top-bg-desktop.svg');
  }
}

.mobile-menu__btn {
  padding: 0;
  border: none;
  background-color: transparent;

  position: absolute;
  top: 20px;
  right: 0;
}

.header__logo {
  width: 96px;
  height: 43px;
  margin-top: 13px;
}

.header--bg::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 120px;
  height: 114px;
  background-image: url('../images/bg/donut-top-mobile.png');

  background-size: contain;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
    screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 280px),
    screen and (min-resolution: 192dpi) and (min-width: 280px),
    screen and (min-resolution: 2dppx) and (min-width: 280px) {
    background-image: url('../images/bg/donut-top-mobile@2x.png');
  }

  @media screen and (min-width: 480px) {
    width: 190px;
    height: 180.5px;
    background-image: url('../images/bg/donut-top-480.png');
    background-size: contain;
    left: 10%;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 480px),
    screen and (min-resolution: 192dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: url('../images/bg/donut-top-480@2x.png');
  }
}
