.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.hero__title {
  font-family: var(--font-brand);
  @include font(30px, 400, 38px);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    @include font(64px, 400, 65px);
  }
}

.hero__title--alignment {
  display: block;
  margin-bottom: 5px;
}

.hero__text {
  font-family: var(--font-main);
  @include font(16px, 500, 20px);
  text-align: center;
  color: var(--color-main);
  margin-bottom: 25px;

  @media screen and (min-width: 1280px) {
    @include font(24px, 500, 29px);
    margin-bottom: 35px;
  }
}

.hero--btn-gap {
  margin-bottom: 35px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 75px;
  }
}

.sm-links {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.sm-link__icon {
  fill: currentColor;
}

.sm-links__item {
  color: var(--color-main);

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--color-brand);
  }
}
