.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-mobile);
  z-index: 10;

  text-align: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  -webkit-transition: opacity 500ms linear, visibility 500ms linear;

  -o-transition: opacity 500ms linear, visibility 500ms linear;

  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu__close-btn {
  padding: 0;
  border: none;
  background-color: transparent;

  position: absolute;
  top: 20px;
  right: 0;
}

.mobile-menu__link {
  @include font(24px, 500, 29px);

  color: var(--color-main);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-faded-brand);
  }
}

.mobile-menu--gap {
  margin-bottom: 40px;
}
