.registration {
  background-color: var(--color-bg);
  border-radius: 150px;
  padding-top: 20px;
  padding-bottom: 50px;
  box-shadow: 7px 7px 21px var(--color-brand-transparent);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 95px;
    margin-bottom: 50px;
  }
}

.registration__details {
  @include font(18px, 500, 22px);
  text-align: center;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    text-align: right;
  }

  @media screen and (min-width: 1280px) {
    @include font(24px, 500, 36px);
  }
}

.break {
  display: block;
}

.underline {
  position: relative;
  display: block;
  min-height: 42px;

  &::after {
    content: ' ';
    display: block;
    width: 260px;
    height: 0.5px;
    background-color: var(--color-brand);
    position: absolute;
    bottom: 0;
    left: 15px;

    @media screen and (min-width: 768px) {
      width: 190px;
      transform: rotate(90deg);
      bottom: 20px;
      left: 103px;
    }

    @media screen and (min-width: 1280px) {
      width: 190px;
      bottom: 50px;
      left: 210px;
    }
  }
}

.form {
  text-align: center;
}

.form__legend {
  @include font(16px, 400, 20px);
  margin-bottom: 17px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    @include font(18px, 400, 22px);
  }
}

.form__input {
  @include font(16px, 400, 20px);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-brand);
  margin-bottom: 25px;
  background-color: transparent;
  width: 260px;

  &::placeholder {
    color: var(--color-brand-transparent);
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .registration--alignment {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .registration__details--alignment {
    flex-basis: 27%;
  }

  .form {
    position: relative;
    margin-right: auto;
    margin-left: auto;

    &::after {
      content: ' ';
      position: absolute;
      width: 235px;
      height: 255px;
      top: 50%;
      left: -70%;

      background-image: url('../images/registration/donut-tasted-tablet.png');
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (min-width: 1280px) {
        top: 60%;
        left: -110%;
      }

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/registration/donut-tasted-tablet@2x.png');
      }
    }
  }

  .btn--center {
    position: absolute;
    bottom: -30%;
    left: 5%;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  .form__legend--align {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .btn--center {
    position: absolute;
    bottom: -30%;
    left: -4.5%;
  }

  .registration__details--alignment {
    flex-basis: 30%;
  }
}
