.registration {
  background-color: var(--color-bg);
  border-radius: 150px;
  padding-top: 20px;
  padding-bottom: 50px;
  box-shadow: 7px 7px 21px var(--color-brand-transparent);
  margin-bottom: 20px;
}

.registration__details {
  @include font(18px, 500, 22px);
  text-align: center;
  margin-bottom: 25px;
}

.break {
  display: block;
}

.underline {
  position: relative;
  display: block;
  min-height: 42px;

  &::after {
    content: ' ';
    display: block;
    width: 260px;
    height: 1px;
    background-color: var(--color-brand);
    position: absolute;
    bottom: 0;
    left: 15px;
  }
}

.form {
  text-align: center;
}

.form__legend {
  @include font(16px, 400, 20px);
  margin-bottom: 17px;
}

.form__input {
  @include font(16px, 400, 20px);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-brand);
  margin-bottom: 25px;
  background-color: transparent;
  width: 260px;

  &::placeholder {
    color: var(--color-brand-transparent);
  }
}
