.reviews {
  margin-bottom: 30px;
}

.reviewer__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    width: 186px;
    height: 186px;
  }

  @media screen and (min-width: 1280px) {
    width: 234px;
    height: 234px;
  }
}

.reviewer__photo--container {
  min-height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-stars {
  display: flex;
}

.review-star__icon {
  fill: var(--color-brand);

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.review-star__icon--unactive {
  fill: var(--color-bg-add);
  stroke: var(--color-brand);
  stroke-width: 2;
  margin-top: 1px;
}

.reviewer__name {
  font-style: italic;
  @include font(14px, 500, 28px);
  text-align: center;
  margin-bottom: 10px;
}

.review {
  text-align: center;
}

.counter {
  @include font(14px, 400, 17px);
  text-align: center;
  display: block;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-brand);
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  &::before {
    content: ' ';
    display: block;
    width: 35px;
    height: 0.5px;
    background-color: var(--color-brand);
    position: absolute;
    top: 50%;
    left: 0;
  }

  &::after {
    content: ' ';
    display: block;
    width: 35px;
    height: 0.5px;
    background-color: var(--color-brand);
    position: absolute;
    top: 50%;
    right: 0;
  }
}

.reviewers__other--left {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
  }
}

.reviewers__other--right {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 50px;
    right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .reviewers__main {
    position: relative;
  }
}

.reviewer__photo--other {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 6px;

  @media screen and (min-width: 1280px) {
    width: 136px;
    height: 136px;
  }
}
