.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  outline: tomato 1px solid;

  @media screen and(min-width: 678px) {
    width: 768px;
    padding-left: 67px;
    padding-right: 67px;
  }

  @media screen and(min-width: 1280px) {
    width: 1280px;
    padding-left: 228px;
    padding-right: 228px;
  }
}
