.title {
  font-family: var(--font-brand);
  @include font(30px, 400, 38px);
  text-align: center;
  // color: var(--color-main);
}

.sub-title {
  font-family: var(--font-brand);
  @include font(24px, 400, 65px);
  text-align: center;
  //  color: var(--color-main);
}

.paragraph {
  @include font();
  margin-bottom: 20px;
}

.list-item {
  @include font();
  margin-bottom: 10px;
}
