.sub-title {
  font-family: var(--font-brand);
  @include font(24px, 400, 65px);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.paragraph {
  @include font();
  margin-bottom: 20px;
}

.list-item {
  @include font();
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.title--center {
  text-align: center;
}
