:root {
  --color-main: #2e2520;
  --color-bg: #ffffff;
  --color-bg-add: #fef3e4;
  --color-bg-mobile: rgba(254, 243, 228, 0.95);
  --color-brand: #ab816c;
  --color-brand-transparent: rgba(171, 129, 108, 0.5);
  --color-dark-brand: #674d40;
  --color-faded-brand: #876655;
  --font-main: 'Montserrat', sans-serif;
  --font-brand: 'Caveat Brush', cursive;
}
